doctype html
html(lang="en-US")
	head
		link(rel="stylesheet", href="stylesheets/style.css")
		link(rel="stylesheet", href="stylesheets/main.css")
	body
		div#container.center
			h1
				| Log in
			form(id="login" name="login" method="post")
				input(type="text" name="username" 
					placeholder="username" required)
			br
			input(type="password" name="password"
					placeholder="password" required)
			br
			input(type="submit" name="login" value="Log in"
					id="btnLogIn")